/* *{
  margin: 0%;
  padding: 0%;
}*/
body{
    border: 5px groove #9CFF2E;
    margin: 0%;
    padding: 0%;
    background-image: url(image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 495vh;
}

.box1{
    border: 5px solid #FF1E1E;
    height: 200px;
    width: 380px;
    border-radius: 20px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-left: 580px;
    position: relative;
    right: 500px;
 
 
}
.box2{
    color: white;
    height: 70px;
    width: 330px;
    background-color: black;
    border: 5px solid #FF1E1E;
    border-radius: 20px;
    padding: 7px;
    margin-top: -180px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    left: 420px;
    position: relative;
    top: 30px;
  
}
.box3{
    color: white;
    height: 70px;
    width: 320px;
    background-color: black;
    border: 5px solid #FF1E1E;
    border-radius: 20px;
    padding: 14px;
    margin-top: -66px;
    margin-left: 1180px;
    text-align: center;
    position: relative;
    right: 71px;
}


.offers{
    border: 10px solid #256D85;
    border-radius: 600px;
    background-color: #C8FFD4;
    color: black;
    height: 325px;
    width: 335px;
    /* padding: 30px; */
    padding-top: 33px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    line-height: 25px;
    margin-top: 220px;
    margin-left: 90px;
    
}
#hr1{
    border-style: none;
    border-top-style: solid;
    border-color: #256D85;
    border-width: 7px;
    width: 104%;
}
.form{
  color: #FF1E1E;
  text-align: center;
  border: 10px #FF1E1E solid;
  border-style: dashed;
  height: 510px;
  width: 360px;
  background-color: #C8FFD4;
  padding: 25px;
  font-weight: 600;
  margin-left: 700px;
  margin-top: -320px;
  line-height: 25px;
}
.box4{
  color: white;
  border: #FF1E1E solid 10px;
  text-align: center;
  width: 310px;
  height: 75px;
  border-radius: 40px;
  background-color: black;
  padding-top: 0px;
  margin-top: 36px;
}

.menu{
  height: 270px;
  width: 290px;
  border: #5800FF solid 10px;
  border-radius: 30%;
  float: left;
  margin: 90px;
  background-color: #72FFFF;
  color: #5800FF;
  padding-top: 15px;
}
#hr2
{
   /*border-width: 2px;*/
   
  border-style: none;
  border-top-style: solid;
  border-color: black;
  border-width: 7px;
   
}
.hrm{
  color: #5800FF;
  border-style: none;
  border-top-style: solid;
  border-width: 5px;
  
}
.hrf{
  
  
  border-style: none;
    border-top-style: solid;
    border-color: #FF1E1E;
    border-width: 3px;
}
.s1{
  text-decoration: underline;
}
.body2{
  border: 5px groove #9CFF2E;
  margin: 0%;
  padding: 0%;
  background-image: url(image4.jpg);
  background-size: cover;
  
  height: 150vh;
}





